---
import Navbar from "../components/Navbar"
import '@fontsource/ibm-plex-sans';
import '@fontsource/poppins';

import banner from "../asset/envision/envision.png"
import whatis from "../asset/envision/whatis.png"
import whatdoes from "../asset/envision/whatdoes.png"
import communication from "../asset/envision/communication.png"
import gettingstarted from "../asset/envision/gettingstarted.png"
import lofi from "../asset/envision/lofi1.png"
import lofi2 from "../asset/envision/lofi2.png"
import screenreader from "../asset/envision/screenreader.png"
import finaldesign from "../asset/envision/finaldesign.png"
import finaldesign2 from "../asset/envision/finaldesign2.png"
import finaldesign3 from "../asset/envision/finaldesign3.png"
import prevdesign from "../asset/envision/prevdesign.png"
import newdesign from "../asset/envision/newdesign.png"
import change from "../asset/envision/change.png"
import landingpg from "../asset/envision/landingpage.png"
import landingpg2 from "../asset/envision/landingpageanatomy.png"
import landingpgfinal from "../asset/envision/landingpgfinaldesign.png"
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

<Navbar client:load />
<div class="mx-auto px-20 lg:px-40 xl:px-64">
    <h1 class="font-serif text-heading font-semibold mt-20">From idea to MVP: what would a web version of the Envision App look like?</h1>

    <img class="w-full mt-10" src={banner.src} alt="Banner">
    <p class="text-gray-600 italic font-sans mt-1">Skills used: Accessibility, User Interviews, A/B Testing, Collaboration with team, Wireframing, Prototyping and Visual Designs.</p>

    <h1 class="font-serif tracking-wide font-semibold mt-10 text-heading">Introduction</h1>
    <p class="font-sans mt-2">In this blog, I will be talking about my time as a UI/UX design intern at Envision. I was working on a project that aims to bring the Envision app to the desktop.</p>
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">What is Envision & Whar do they do?</h1>
    <p class="font-sans mt-2">Envision is a Dutch startup specialising in AI-assistive technology, particularly smart glasses aka Envision Glasses, to empower the blind and people with low vision. They aim to enhance independence, accessibility, and quality of life for people who are blind or who have low vision through their innovative solutions.</p>
    <img class="w-full mt-2" src={whatis.src} alt="What is Envision and what does it do?">
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Identification of the problem</h1>
    <p class="font-sans mt-2"><span class="italic">“Do we need to make it similar to Envision App”, “Just make the Envision App in the desktop version and I am done”</span> and <span class="italic"> “Do we really need to ask the users about their needs?”</span>, these were the type of questions that came to my mind before jumping into the project. </p>
    
    <p class="font-semibold font-serif mt-10 text-content">For the people who don't know what Envision does, here is a short note👇    </p>
    <img class="w-full mt-10" src={whatdoes.src} alt="What does Envision app do?">
    
    <p class="my-20">And to understand the crux of the problem, I decided to communicate with the users of Envision.</p>
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Communication is the key: Talking to the users</h1>
    <img class="w-full mt-10" src={communication.src} alt="communication">
    
    <p>I had a few <span class="font-semibold font-sans">casual interviews</span> with the <span class="font-semibold">beta testers</span> of Envision app. The meetings were conducted virtually. In the interview, the users and I had an <span class="font-semibold">easygoing conversation</span> about their <span class="font-semibold">jobs</span>, the <span class="font-semibold">difficulties they face during their work</span>, using a desktop vs mobile, and their <span class="font-semibold">usage related to Envision App.</span></p>
    
    <p class="italic pl-10 border-black border-l-2 font-sans mt-5">After <span class="font-semibold">summarizing</span> all the <span class="font-semibold">interview</span> and their points, it was time to <span class="font-semibold">brainstorm </span> with the <span class="font-semibold">team</span> on what are the <span class="font-semibold">possible outcomes</span> that we can create for the users.</p>
    
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Insights I got</h1>
    <ul class="list-disc ml-5 mt-2 font-sans">
        <li class="mt-2">They prefer using a laptop over smartphones because it helps them multitask </li>
        <li class="mt-2">They feel comfortable using a physical keyboard or a braille display over a mobile. </li>
        <li class="mt-2">The majority reason they use their phone is when there is any inaccessible image they want to know. </li>
    </ul>

    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Getting started with the Design work(UI)
    </h1>
    <p class="font-sans">Before starting off with the designs, I considered the <span class="font-semibold">possible solutions</span> based on the <span class="font-semibold">pain points</span> told by the users.</p>
    
    <img class="w-full mt-10" src={gettingstarted.src} alt="Getting started with Design work">
    
    <p class="my-20">Now that we had enough idea of how the product should look, I began making the initial design concepts(or Lofi diagrams) for the web tool.</p>
    
    <img class="w-full mt-10" src={lofi.src} alt="Lofi Diagrams">
    <img class="w-full mt-10" src={lofi2.src} alt="Lofi Diagrams">
    
    <p class="my-20">Once the Lofi diagrams were made, <span class="font-semibold">I got more clarity</span> in my designs and the certain direction to move ahead. Alongside designing, I had to <span class="font-semibold">take care</span> of the <span class="font-semibold">accessibility</span> and the design hierarchy so that blind or people with low vision using a <span class="font-semibold">screen reader</span> shouldn't get lost or confused.</p>
    
    <img class="w-full mt-10" src={screenreader.src} alt="Screen Reader">
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Final designs with their expositions</h1>
    
    <img class="w-full mt-10" src={finaldesign.src} alt="Final Design">
    <img class="w-full mt-10" src={finaldesign2.src} alt="Final Design">
    <img class="w-full mt-10" src={finaldesign3.src} alt="Final Design">
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">The most favorite moment of the journey! 😎</h1>
    
    <p class="my-10 font-sans">While making the history section of the web tool, I changed the shape of the box to differentiate between the PDFs.TXT files and JPEGs(or PNGs)</p>
    
    <div class="flex gap-10">
        <img class="mt-10 w-1/2" src={prevdesign.src} alt="Earlier Design">
        <img class="mt-10 w-1/2" src={newdesign.src} alt="New Design">
    </div>
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">What's the change?</h1>
    <img class="mt-10 h-full" src={change.src} alt="change">
    
    <p class="italic font-sans pl-10 border-black mt-2 border-l-2">Small role, huge impact! 🎉</p>
    
    <p class="my-20">The idea was to make the PDF files look more like a file instead of a rectangle so that it<span class="font-semibold">becomes easier</span> for <span class="font-semibold">colour-blind people</span> (and everybody in general) to <span class="font-semibold">differentiate</span> between the files(PDFs and images).</p>
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">An important realization along the process</h1>
    <p class="font-sans">During the process of making the design of Envision&#39;s desktop version, I realized how the users know how to use the web tool.</p>
    
    <p class="italic font-sans pl-10 border-black border-l-2 mt-10 text-gray-600">Throwing up a new sign-up/log in page on the face of the user might seem strange and there was a need for a proper way to onboard them.</p>
    <p class="italic font-sans mt-5">One-word solution: <span class="font-semibold"> Landing Page!</span></p>
    
    <img class="mt-10 h-full" src={landingpg.src} alt="Need of a landing page">
    <img class="mt-10 h-full" src={landingpg2.src} alt="A perfect landing age anatomy">
    
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">The final Landing Page</h1>
    <img class="mt-10 h-full" src={landingpgfinal.src} alt="Landing page final design">

    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Learnings/My Takeaways</h1>
    <ul class="list-disc mt-5 flex flex-col gap-3 ml-5">
        <li>Talking to people with low vision and blind people changed my perspective on how I see the visual hierarchy of websites and applications.</li>
        <li>This was a really challenging problem for me because I would never </li>
        <li>it was unique problem in itself and it would be nearly impossible to put myself in the shoes of the user</li>
        <li>Following the completion of user interviews, it was beneficial to craft a comprehensive summary that interconnects key points and highlights common themes or issues identified by all interviewees. This approach contributed to a deeper understanding of recurring patterns. The valuable insight gained from my internship underscores the potential to significantly elevate the efficacy of user interviews.</li>
    </ul>
    <h1 class="font-serif tracking-wide font-semibold mt-20 text-heading">Final thoughts</h1>
    <p>The opportunity to work on Inclusive design and in particular, designing for blind users was absolutely wonderful and I loved it!</p>

    <p class="my-20">This experience has not only improved my professional skills but also left an  <span class="font-semibold">impact</span>on how I <span class="font-semibold">perceive</span> the <span class="font-semibold">role of technology </span> in <span class="font-semibold">creating</span> an <span class="font-semibold">inclusive world. Prioritizing accessibility</span> over anything was the <span class="font-semibold">most challenging part.</span> This meant stepping into the shoes of blind users, understanding their unique challenges, and adapting our design approach to </p>

    <p class="my-20 font-sans">Many thanks for sticking with it. I hope you all found it useful ✨</p>

</div> 
